*{
	font-family: 'Alegreya Sans', sans-serif;
	margin:0;
	padding:0;
}

body{
	-webkit-zoom-in
	-webkit-zoom-out
	-webkit-grab
	-webkit-grabbing
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
	margin:0;
	padding:0;
	font-size: 1.5em;
}

a, a:visited, a:hover, a:active {
  color: inherit;
  text-decoration: none;
}
/*-----------------------------------
Header
-----------------------------------*/
header{
	height:80px;
	background-color:#373737;
	font-family: 'Alegreya Sans', sans-serif;
}

header p{
	position:absolute;
	top:19px;
	left:70px;
	font-size: 30px;
	color:white;
	font-weight: strong;
	font-family: 'Alegreya Sans', sans-serif;
}
.logo{
	width:50px;
	height:50px;
	/*background-color: green;*/
	position:absolute;
	top:5px;
	left:20px;
	
}

.headerlogin{
	height:80px;
	position:absolute;
	top:10;
	right:30px;
	background-color: #272727;
}

#login{
	color:white;
	position:absolute;
	top:0px;
	right:50px;
	margin:0;
	padding: 30px 0;
	width: 70px;
	font-size: 15px;
	border-radius: 5px;
	text-align: center;
}
#signup,#home{
	color:white;
	position:absolute;
	top:0px;
	right:125px;
	margin:0;
	padding: 30px 0;
	width: 70px;
	font-size: 15px;
	text-align: center;
}

#signup:hover,#login:hover,#home:hover{
	background-color: black;
}
.logininfo{
	height:380px;
	width:900px;

	/*background-image: url("/images/site_image/grid.png");*/
	margin-top:5px;px;
	margin-left:35px;
	margin-right:20px;
	position: fixed; 
	top:100px;
	left:100px;
	/*flex:3;*/
	border-radius: 3px;
	border: 10px solid #dd6264;
	color:black;
	background-color: ;


}
.logintable{

	position:fixed;
	top:200px;
	left:300px;
	text-align: left;
}

.loginemail,.loginpw,.remember{

	margin-top:0px;
	text-align: left;
}
.inputemail,.inputpw{
	height:20px;
}

.loginbutton1{
	position:absolute;
	top:170px;
	left:0px;
}
.remember{
	padding-top: 5px;
}

.loginheader{

	height:70px;
	width:100%;
	background-color:#373737;
	/*margin:-10px;*/
	padding:0;
}
.registerinfo{

	position:absolute;
	top:100px;
	left:150px;
}




.innerHero{
	background-color:#F2F2F0;
	margin:0;
	padding:0;
	width:100%;
	height:570px;
	margin:0 auto;
	/*margin-top:25px;*/

}












.gardenTitle{
	position:absolute;
	top:40px;
	right:90px;
	width:700px;
	height:90px;
	background-size:100%;
	border-radius:10px;
}
.menuBar
{
	height:30px;
	width:100%;
	background-color: #26333d;
	color:black;
}

.menuBar > ul{
	margin:0px;
	padding:0px;
}

.article{
	display:flex;
	text-align: center;
}

.palette{
	height:550px;
	/*width:370px;*/
	background-color: #f2f2ea;
	margin:0px;
	list-style-type: none;
	border-radius: 3px;
	display:flex;
	margin:0 auto;
	border-bottom:1px solid rgba(0, 0, 0, .8);

}

.infoitem{
	margin:0;
	padding:0;
}
.group_tree,.group_bush,.group_grass,.group_paver,.group_flower{
	height:70px;
	line-height: 70px;
	padding:5px;
	background-color: #f2f2ea;
	border:1px solid rgba(0, 0, 0, .2);
	border-top: none;
	border-right: none;

}
.group_tree:hover,.group_bush:hover,.group_grass:hover,.group_paver:hover,.group_flower:hover{
	height:70px;
	padding:5px;
	background-color: #de6161;
	border:1px solid rgba(0, 0, 0, .2);
	border-top: none;

}


.category{
	width:100px;
	/*border-left:solid 5px #de6262;*/
	/*padding-top: 10px;*/
	background-color: #f2f2ea;
}

.stencils{
	list-style-type: none;
	border-right: 1px solid rgba(0, 0, 0, .2);
	height:550px;
    border-left: 1px solid rgba(0, 0, 0, .2);
    
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:0;
    


}


 .navBar {
 	display:inline-block;
 	margin:0;
	display: inline-block;
	padding:30px;
	padding-top:5px;
	text-align: right;
	
	
}
.tree  {
	width: 100px;
	height: 100px;
    background-size: cover;
    margin:0;
    padding:0;
    left-border: 5px solid yellow;

}

.bush  {
    width: 90px;
	height:90px;
    background-size: cover;
     margin:0;
    padding:0;
    
}
.flower{
    width: 75px;
	height:75px;
    background-size: cover;
     margin:0;
    padding:0;
}
.paver{

    width: 60px;
	height:60px;
    background-size: cover;
     margin:0;
    padding:0;
    

}
.grass  {
	width: 75px;
	height:75px;
    background-size: cover;
    margin:0;
    padding:0;
}
.hover{
	background-color: #dc5e5f
}

.trashLayout{
	position:absolute;
	top:510px;
	height:50px;
	width:40px;
	left:35px;
	font-size: 50px;
	/*background: url('/images/site_image/trash.png');*/
	background-repeat: no-repeat;
	/*background-color: red;*/

}
.outertarget
{
	height:550px;
	/*margin-left:-30px;*/
	width:100%;
	/*background-color: white;*/
	background-color:#f2f2f0;

}
.target{
	height:380px;
	width:90%;
	padding:10px;
	background-image: url("/images/site_image/grid.png");
	/*margin-top:-5px;*/
	margin-left:35px;
	margin-right:20px;
	position: relative; 
	/*flex:3;*/
	border-radius: 3px;
	border-bottom: 1px solid rgba(0, 0, 0, .2);
}

.title{
	border-top: 5px solid #DD6264;
	
	color:black;
	/*margin-left:-2px;*/
	padding-left:5px;
	padding-top:30px;
	margin-top:0px;
	background-color: #f7f6f2;
	height:70px;
	text-align: left;
	border-bottom: 1px solid rgba(0, 0, 0, .2);


}
#clearbutton{
	position:absolute;
	top:130px;
	right:50px;
	font-size: .8em;
	background-color:#DD6264;
	height:30px;
	width:60px;
	text-align: center;
	line-height: 30px;

}
#printbutton{
	position:absolute;
	top:130px;
	right:140px;
	font-size: .8em;
	background-color:#DD6264;
	height:30px;
	width:60px;
	text-align: center;
	line-height: 30px;
}
#openbutton{
	position:absolute;
	top:130px;
	right:300px;
	font-size: .8em;
	background-color:#DD6264;
	height:30px;
	width:60px;
	text-align: center;
	line-height: 30px;
}
#btnSave{
	position:absolute;
	top:130px;
	right:220px;
	font-size: .8em;
	background-color:#DD6264;
	height:30px;
	width:60px;
	text-align: center;
	line-height: 30px;
}
.gardensub	title{
	margin-top:25px;

}



footer{
	height:120px;
	width:100%;
	background-color:#373737;
	color:white;
	/*background:radial-gradient(circle,rgba(149,165,50,.4),rgba(116,137,183,.6));*/
	/*background-image:url('footer2image.png');*/
	/*background-repeat: no-repeat;*/
	background-size: 95%;
	/*margin-left: 30px;*/


}
footer p{
	/*padding:20px;*/
	margin:0 auto;
	text-align:center;
	width:70%;
	line-height: 120px;
	color:white;
	font-size: 18px;
}
#tree_button{
	border-left:5px solid yellow;
}

#tree_button.selected{

	background-color: yellow;
	border-left:1px solid green;
}
#bush_button{
	border-left:5px solid #ea3353;
}
#bush_button.selected{

	background-color: #ea3353;
	border-left:green;
}
#flower_button{
	border-left:5px solid #11af66;
}
#flower_button.selected{

	background-color: #11af66;
	border-left:green;
}
#paver_button{
	border-left:5px solid orange;
}
#paver_button.selected{

	background-color: orange;
	border-left:green;
}
#grass_button{
	border-left:5px solid #625da9;
}
#grass_button.selected{

	background-color: #625da9;
	border-left:green;
}


.lightbox {
	width: 500px;
	height: 300px;

	border: 1px solid #aaa;
	background-color: red;
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	display:none;
}
.lb-open{
	display:block;
}


.gardensubtitle{

	width:200px;
	height:30px;
}

.stencil{

border-bottom:1px solid rgba(0, 0, 0, .2);;
/*width:100px;*/
padding-left:15px;

}
